* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: #EAF1F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #4abdcc;
    z-index: 1000;
}

.container {
    width: 98%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn-menu,
.logo {
    display: flex;
    align-items: center;
}

.container .btn-menu label {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.9s ease;
}

.menu a:hover {
    color: #c7c7c7;
}
/* Header */

/* Menú lateral */
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 250px;
    background: #5fadb8;
    height: 100vh;
    transition: transform 500ms ease;
    transform: translateX(-100%);
    position: fixed;
    overflow-y: auto;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    margin-top: 20%;
}

.cont-menu nav a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #ff8e4d;
}

.cont-menu nav a i {
    margin-right: 10px;
    font-size: 30px;
}

.cont-menu label {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}
/* Menú lateral */

/* Estado Académico */
.academic-status {
    padding: 2%;
    background-color: #fff;
    border-radius: 10px;
    margin: 2% auto;
    max-width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%; 
    min-width: 600px;
}


.academic-status h2 {
    text-align: left; /* Cambiado a left */
    color: #4abdcc;
    margin-bottom: 20px;
    font-size: 2em;
    margin-left: 0; /* Asegura que no haya margen a la izquierda */
}

/*estilos para formulario para consultar historial academico */
.historial_academico_form {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    width: 100%;
}
.historial_academico_form input{
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.historial_academico_form select{
    width: 400px;
    margin: 5px 0;
}
.historial_academico_form button{
    width: 100%;
    background-color: #4abdcc;
    color: #fff;
    border: none;
    padding: 1%;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.historial_academico_from button:hover{
    background-color: #47a1c1;
}
.historial_academico_form div{
    width: 400px;
}
.historial_academico_form .ancho-completo{
    width: 100%;
}
/* Estilo para el botón pequeño */
.btn-small {
    background-color: #8f908f;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-small i {
    font-size: 18px;
    /* Tamaño del icono */
}

.btn-small:hover {
    background-color: #434343;
}

/**/

.course-list {
    margin-top: 2%;
    
}

.course-list h3 {
    color: #333;
    font-size: 100%;
    margin-bottom: 1%;
}

.course-list ul {
    list-style-type: none;
    padding: 0;
}

.course-list ul li {
    margin-bottom: 1%;
    color: #555;
}

.course-list ul li::before {
    content: '\2022';
    /* Bullet point */
    color: #4abdcc;
    font-weight: bold;
    display: inline-block;
    width: 1%;
    margin-left: 1%;
}


/* Año académico */
.year-selection {
    margin-bottom: 15px;
}

.year-selection label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #ffa726;
    cursor: pointer;
    margin-bottom: 10px;
}

.year-selection input {
    display: none;
}

.year-selection .year-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-left: 2px solid #4abdcc;
    padding-left: 10px;
}

.year-selection input:checked ~ .year-content {
    max-height: 1000px; /* Ajustar según el contenido */
    transition: max-height 0.5s ease-in;
}

/* Tabla de estado académico */
.academic-status table {
    width: 100%;
    border-collapse: collapse;
}

.academic-status table thead {
    background-color: #4abdcc;
    color: white;
}

.academic-status table th,
.academic-status table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.academic-status table th.cuatrimestre {
    background-color: #ffa726;
    font-size: 1.2em;
    color: white;
}

.academic-status table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.academic-status table tbody tr:hover {
    background-color: #f1f1f1;
}

.academic-status table tbody td {
    font-size: 1em;
}

.promocionado {
    color: #28a745;
    font-weight: bold;
}

.regular {
    color: #ffc107;
    font-weight: bold;
}

.libre {
    color: #dc3545;
    font-weight: bold;
}

.plan-de-estudio {
    max-width: 100%; /* Limitar el tamaño del contenedor */
    overflow: hidden; /* Evitar desbordamientos horizontales */
    margin: 20px 0; /* Añadir un margen alrededor del contenedor */
}

.pdf-viewer {
    max-width: 100%; /* El PDF se ajusta al ancho del contenedor */
    height: 600px; /* Altura fija o ajustable según tus necesidades */
    border: none; /* Quitar bordes si es necesario */
}



/* Footer */
.footer {
    background-color: #F98012;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-content .contact-info {
    flex: 1;
    margin: 10px;
}

.footer-content .contact-info h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.footer-content .contact-info p {
    margin: 5px 0;
}

.footer-content .contact-info a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content .contact-info a:hover {
    text-decoration: underline;
}
/* Footer */