* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    
}

body {
    background: #EAF1F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #4abdcc;
    z-index: 1000;
}

.container {
    width: 98%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn-menu,
.logo {
    display: flex;
    align-items: center;
}

.container .btn-menu label {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.9s ease;
}

.menu a:hover {
    color: #c7c7c7;
}
/* Header */

/* Menú lateral */
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 250px;
    background: #5fadb8;
    height: 100vh;
    transition: transform 500ms ease;
    transform: translateX(-100%);
    position: fixed;
    overflow-y: auto;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    margin-top: 20%;
}

.cont-menu nav a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #ff8e4d;
}

.cont-menu nav a i {
    margin-right: 10px;
    font-size: 30px;
}

.cont-menu label {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}
/* Menú lateral */

/* Bienvenida */
.welcome-section {
    background-color: #fff;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    border-radius: 2%;
}

.welcome-section .container {
    max-width: 70%;
}

.welcome-section p {
    font-size: 150%;
    color: #080606;
}
/* Bienvenida */

/* Contenido */
.info-section {
    background-color: rgba(245, 237, 237, 0.932);
    padding: 5%;
}

.info-section .container {
    display: flex;
    justify-content: space-around;
}

.info-section .container a {
    text-decoration: none;
}

.info-box {
    background-color: #fff;
    padding: 50px;
    border-radius: 35px;
    box-shadow: 20px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150%;
    max-width: 250px;
    transition: transform 0.5s ease;
}

.info-box:hover {
    transform: translateY(-10px);
}

.info-box i {
    font-size: 2.5em;
    color: #4abdcc;
    margin-bottom: 10px;
}

.info-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.info-box p {
    color: #666;
}
/* Contenido */

/* Footer */
.footer {
    background-color: #F98012;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-content .contact-info a {
    color: #ffffff;
    text-decoration: none;
}
/* Footer */
