* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: #EAF1F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input[type="submit"] {
    width: auto;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    width: auto;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* encabezado */
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #4abdcc;
    z-index: 1000;
}

.container {
    width: 98%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn-menu,
.logo {
    display: flex;
    align-items: center;
}

.container .btn-menu label {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    transition: color 0.9s ease;
}

.menu a:hover {
    color: #c7c7c7;
}
/* encabezado */

/* Menú lateral */
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 250px;
    background: #5fadb8;
    height: 100vh;
    transition: transform 500ms ease;
    transform: translateX(-100%);
    position: fixed;
    overflow-y: auto;
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    margin-top: 20%;
}

.cont-menu nav a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #ff8e4d;
}

.cont-menu nav a i {
    margin-right: 10px;
    font-size: 30px;
}

.cont-menu label {
    right: 10px;
    top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}
/* Menú lateral */

/* inscripción a materias */
.main-content {
    background-color: #fff;
    padding: 2%;
    margin: 5%;
}

.main-content h2 {
    color: #4abdcc;
    margin-bottom:1%;
}

.inscription-form {
    display: flex;
    flex-direction: column;
}

.inscription-form label {
    margin-bottom: 1%;
    font-weight: bold;
    color: #333;
}

.inscription-form input,
.inscription-form select {
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
}

.inscription-form button {
    background-color: #4abdcc;
    color: #fff;
    border: none;
    padding: 1%;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.inscription-form button:hover {
    background-color: #47a1c1;
}

.course-list {
    margin-top: 2%;
}

.course-list h3 {
    color: #333;
    font-size: 100%;
    margin-bottom: 1%;
}

.course-list ul {
    list-style-type: none;
    padding: 0;
}

.course-list ul li {
    margin-bottom: 1%;
    color: #555;
}

.course-list ul li::before {
    content: '\2022'; /* Bullet point */
    color: #4abdcc;
    font-weight: bold;
    display: inline-block;
    width: 1%;
    margin-left: 1%;
}
/* inscripción a materias */

/* footer */
.footer {
    background-color: #F98012;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-content .contact-info a {
    color: #ffffff;
    text-decoration: none;
}

/* Cambios en la sección de contraseñas */
.password-container {
    position: relative;
    display: flex;
    flex-direction: column;  /* Cambié de 'row' a 'column' para que los elementos estén uno debajo del otro */
    margin-bottom: 10px;  /* Espaciado entre cada campo */
}

.password-container label {
    margin-bottom: 5px;  /* Espaciado entre la etiqueta y el campo */
    color: #000000;
}

.password-container input[type="password"] {
    flex: 1;
    padding-right: 35px; /* espacio para el icono */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

.eye-icon:hover {
    filter: grayscale(0);
}
